@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  

body{
    background-image: url('https://t3.ftcdn.net/jpg/07/86/34/68/360_F_786346890_E4BqkCpTHWZg4LIcBnqG2MdyB1Afxz1z.jpg');
}



*{
  font-family: "Roboto", sans-serif;
  margin: 0; padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  box-sizing: border-box;
  transition: all linear .2s;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

.about .box-container .box{
  flex-flow: column;
  width: 90%;
}
.button{
  height: 3.5rem;
  width: 15rem;
  background: var(--blue);
  color:aqua;
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: .5rem;
  cursor: pointer;
  margin: 1rem 0;
  border: .1rem solid var(--blue);
}

.button:hover{
  border: .1rem solid var(--blue);
  background:cornflowerblue;
  color: var(--blue);
  letter-spacing: .2rem;
}


.heading{
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  padding-top: 8rem;
  color: aqua;
  letter-spacing: .1rem;
}

.title{
  text-align: center;
  padding: 0rem 1rem;
  font-size: 2.5rem;
  color: aliceblue;
  font-weight: 300;
}





header{
  width: 96%;
  background: none;
  background:white;
  position:fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  box-shadow: black;
}


.about{
  background-color: #f9f9f9;
}

.about .box-container{
  padding: 4rem 0;
}

.about .box-container .box{
  width: 75%;
  margin: 4rem auto;
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  overflow: hidden;
 /* background: var(--wight);*/

}
.navbar-toggle {
  display: none;  
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}


@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
header .fa-bars{
  font-size: 3rem;
  color: aqua;
  cursor: pointer;
  display: none;
}

header .fa-times{
  transform: rotate(180deg);
}


.home{
  min-height: 100vh;
  padding-top: 10rem;
}

.home .row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
}


.home .row .images img{
  height: 75vh;
}


.home .content h1{
  font-size: 4rem;
  color:rgb(86, 168, 198);
}

.home .content h1 span{
  color: aqua;
}

.home .content p{
  font-size: 2.4rem;
  color:rgb(88, 183, 214);*/

*.navbar-toggler-icon{
  display:table-column-group;
}





/* about section start  */
.about{
  background-color: #f9f9f9;
}

.about .box-container{
  padding: 4rem 0;
}

.about .box-container .box{
  width: 75%;
  margin: 4rem auto;
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  overflow: hidden;
 /* background: var(--wight);*/
}

/* about images  */
.about .box-container .box .images{
  height: 40rem;
  width: 50%;
}

.about .box-container .box .images img{
  height: 100%;
  width: 100%;
}

/* about heading & text */
.about .box-container .box .content{
  height: 100%;
  width: 50%;
  padding: 2rem;
}

.about .box-container .box .content h3{
  font-size: 3rem;
  color: var(--blue);
  display: flex;
  align-items: start;
}

.about .box-container .box .content p{
  font-size: 1.5rem;
  color: rgb(71, 175, 198);
  padding: 1rem 0;
  text-align: start;
  
}

.about .box-container .box:nth-child(even){
  flex-flow: row-reverse;
}


nav li ul{
  position: right;
}