
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
  background-image: url('https://t4.ftcdn.net/jpg/06/39/50/63/360_F_639506337_9LQK7W4jkmCixMk1TQ6rgYOW0jsHiH0N.jpg');
  background-position: right;
  background-size: cover;
}



*{
  font-family:'DM' Serif, TextStatic !important;
  margin: 0; padding: 0;
  text-decoration: none;
  
  outline: none;
  box-sizing: border-box;
 transition: all linear .2s;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  font-family:'DM' Serif, TextStatic !important;
}


.button{
  height: 3.5rem;
  width: 15rem;
  background: aqua;
  color: white;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: .5rem;
  
  margin: 1rem 0;
  border: .1rem solid aqua;
}

.button:hover{
  border: .1rem solid lightskyblue;
  background: white;
  color: aqua;
  letter-spacing: .2rem;
}

.heading{
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  padding-top: 8rem;
  color: aqua;
  letter-spacing: .1rem;
}

.title{
  text-align:start;
  padding: 0rem 1rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 300;
}




header{
  width: 96%;
  background-color: rgba(82, 144, 207, 0.7);
  position:fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
}


header a{
  color: aqua;
}

/*header a span{
  color:white;
}*/

header .logo{
  font-size: 3rem;
  flex: content;
}

header .logo span:hover{
  color: #fbfbfb;
}

.home .read .content{
/*color: aliceblue;*/
border-style: double;
border-color: aqua;
box-sizing: border-box;
font-size: 1.2rem;
}


.ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}



/* navbar link  */
header .navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .navbar ul li{
  margin: 0 1rem;
}

header .navbar ul li a{
  font-size: 2rem;
  color: aqua;
}

header .navbar ul li a:hover{
  color:white;
}

header .fa-bars{
  font-size: 3rem;
  color: aqua;
  
  display: none;
}

header .fa-times{
  transform: rotate(180deg);
}


.header-active{
  top: 0;
  width: 100%;
  box-shadow: .1rem .3rem rgba(0,0,0,.3);
}


a {
  text-decoration: none;
}
/* header navbar section end  */
/*backbutton*/
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}




.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}


/*.back-button {
  font-size: 15px;
 
  color: rgb(91, 224, 236);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}*/



#ballina
.home .read .content{
  /*color: aliceblue;*/
  border-style: double;
  border-color: aqua;
  box-sizing: border-box;
  font-size: 1.2rem;
  }
  
.home{
  min-height: 100vh;
  padding-top: 10rem;
}

.home .row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
  text-align: start;
}

.home .row .images img{
  height: 75vh;
}



.home .content h1{
  font-size: 5rem;
  color: aqua;
}

.home .content h1 span{
  color: white;
}

.home .content p{
  font-size: 3rem;
  color: white;
}



  .container{
   box-sizing: border-box;
   position: bottom;
  }
  

  .container h1{
    color: aqua;
    text-align: center;
  }
   
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
    container: 100px;
    color: white;
    
  }

  
   
  
  .left {
    background-color:rgba(39, 97, 113, 0.7);
    padding: 10px;
    flex: 50%;
 
   
  }
  
  .center{
    background-color:rgba(76, 150, 171, 0.7);
    padding: 10px;
    flex: 50%;
  }
  .right {
    background-color:rgba(69, 210, 249, 0.7);
    padding: 10px;
    flex: 50%;
    size: 100px;
  }


 .paragraph {
  border-style: groove;
  border-color: cadetblue;
  border-width: 17px;
  background-color: #65c1e57e;
  padding: 18px;
  color: rgb(226, 235, 235);
  margin: 150px;
  font-size: medium;
  /*table*/


  table {
   
    border-collapse: collapse;
    width: 100%;
    padding: 50px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd1e;
  }
}

/*.titull {
  color: aqua;
  text-align: center;
  font-size: large;
  margin-top: 100px;
}
.titull span:hover{
  color: #f9f9f9;
}*/


  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      .ul{
        flex-direction: column;
      }
    }
  }

  
  
/* ballina  */


/* specializimet  */


header .navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.specializimet{
  background-image:url('https://media.gettyimages.com/id/1175643227/video/4k-abstract-form-dark-blue-animation-background-loop-stock-video.jpg?s=640x640&k=20&c=9n7lI01-S__aUqRKg-w89zhZZ2frYxyBqqCPLgZOp4o=');
  background-position: center;
  background-size: cover;
}

.specializimet .boxes{
  padding: 4rem 0;
 
}

.specializimet .boxes .box{
  width: 75%;
  margin: 4rem auto;
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgba(82, 169, 169, 0.5);
}

/* about images  */
.specializimet .boxes .box .images{
  height: 40rem;
  width: 50%;
}

.specializimet .boxes .box .images img{
  height: 100%;
  width: 100%;
 
}


.specializimet .boxes .box .content{
  height: 100%;
  width: 50%;
  padding: 2rem;
  color: rgb(255, 255, 255);
}

.specializimet .boxes .box .content h3{
  font-size: 3rem;
  color: var(--blue);
  display: flex;
  
}

.specializimet .boxes .box .content p{
  font-size: 1.5rem;
  color: var(--black);
  padding: 1rem 0;
 
}

.specializimet .boxes .box:nth-child(even){
  flex-flow: row-reverse;
}

.pulmologjia{

  background-image: url('https://www.asterhospitals.in/sites/default/files/2022-03/best-pulmonology-hospital-in-india.jpg');
  background-position: 40%;
  background-size: cover;
  font-family:'DM' Serif ;
  
}
.kardiologjia{
  background-image: url('https://www.shutterstock.com/image-vector/abstract-blue-red-human-heart-600nw-2313147451.jpg');
  background-position: 40%;
  background-size: cover;

}

.neurologjia{
  background-image: url('https://www.shutterstock.com/image-photo/hand-holding-human-brain-futuristic-600nw-2473233657.jpg');
  background-position: 40%;
  background-size: cover;

}

.ortopedia{
  background-image: url('https://www.flatworldsolutions.com/healthcare/images/outsource-orthopedic-animation-services.jpg');
  background-position: 80%;
  background-size: cover;

}

.pediatria{
  background-image: url('https://media.istockphoto.com/id/1001279256/vector/technology-network-background.jpg?s=612x612&w=0&k=20&c=paF8I7sCkHbt2jHwRI1cpxUz2pX1F26SKl0XeugJEno=');
  background-position: 10%;
  background-size: cover;

}
.stomatologjia{
  background-image: url('https://t4.ftcdn.net/jpg/02/75/06/49/360_F_275064973_hHM04mYYeD9evvSdc6xyADeJR5N60MXY.jpg');
  background-position: 40%;
  background-size: cover;

}
.onkologjia{
  background-image: url('');
  background-position: 40%;
  background-size: cover;

}
.analizalaburatorike{
  background-image: url('https://media.istockphoto.com/id/1193999867/vector/microbiological-biotechnology-research-laboratory-equipment-chemical-dropper-and-test-tube.jpg?s=612x612&w=0&k=20&c=5W4y-aPSKeH9OkJYaG0MkSkPOkvgFJ--I2916utw31c=');
  background-position: 60%;
  background-size: cover;


}
.dermatologjia{
  background-image: url('https://media.istockphoto.com/id/1401165784/vector/abstract-technology-background-and-design-element-with-hexagons-pattern-and-geometric-shapes.jpg?s=612x612&w=0&k=20&c=_CVaRqbAQH1PT9HDCQbfEvGA5rUFpYITpjoqzSwuCj4=');
  background-position: right;
  background-size: cover;

}
.urgjenca24h{
  background-image: url('');
  background-position: 40%;
  background-size: cover;

}
 
.titull{
  font-size: large;
  color: #fbfbfb;
  text-align: center;
  margin-top: 100px;
}
.sherbimi {
border-style: hidden rgba(66, 116, 155, 0.312);
border: 3px;
background-color: rgba(66, 155, 155, 0.44);
color: white;
font-size: medium;
margin-top: 100px;
margin: 50px;
padding: 50px;
}

 /* specializimet*/

/*stafi mjeksor*/


.stafimjeksor .box-container{
  padding: 4rem 0;
}

.stafimjeksor .navbar{
  text-decoration: none;

}
.card-body {
  background-color: #dddddd86;
  color: rgb(27, 105, 161);
  
}



/* card images  */
/*.card .box-container .box img{
  height: 30rem;
  width: 100%;
  object-fit: cover;
}

.card .box-container .box .content{
  padding: 1rem 1.3rem;
}

.card .box-container .box .content h2{
  font-size: 2rem ;
  text-align: center;
  color: var(--black);
}

.card .box-container .box .content h2:hover{
  color: var(--blue);
  text-decoration: underline;
}

.card .box-container .box .content p{
  font-size: 1.7rem;
  text-align: center;
  color: var(--black);
}

.card .box-container .box .content .icons{
  text-align: center;
}

.card .box-container .box .content .icons a{
  font-size: 2rem;
  color: var(--blue);
  text-align: center;
  margin: 1rem;
}
/* card section end  */

/* review section start  
.review .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.review .box-container .box{
  width: 35rem;
  text-align: center;
  padding: 0 2rem;
  margin: 4rem 1.5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

/* images  
.review .box-container .box .images{
  display: flex;
  align-items: center;
  text-align: left;
  padding: .5rem 0;
  border-top: .1rem solid #333;
}

.review .box-container .box .images img{
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  object-fit: cover;
  margin: .8rem 1rem;
}

.review .box-container .box i{
  font-size: 6rem ;
  margin-top: -3rem;
  color: var(--blue);
  opacity: .4;
}


.review .box-container .box p{
  color: var(--black);
  font-size: 1.7rem;
  padding: 2rem 0;
}

.review .box-container .box .info h3{
  color: var(--blue);
  font-size: 2rem;
}
.review .box-container .box .info span{
  color: var(--black);
  font-size: 2rem;*/

/* review section end */

/*pacientet*/

.about .box-container .box{
  width: 75%;
  margin: 4rem auto;
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  display: flex;
  align-items: start;
  overflow: hidden;
 justify-items: auto;
 padding: 30px;
 margin-left: 50px;
 margin-right: 50px;
}


.box-container{
  border-style:double;
  border-width: 14px;
  box-shadow: #444d53;
  text-align: center;
  font-size: 15px;
  color: aqua;
  background-color: rgba(76, 150, 171, 0.7);
  color: white;
  text-align: start;
  margin: 50px;
  padding: 30px;
  
}
/*pacientet*/

/*stafi mjeksor*/
.kartatitull{
  font-size: large;
  text-align: center;
  margin-top: 50px;
}
 
 .card {
  margin: 10px;
  background: none;
  font-size: medium;
  color: #dddddd;

}

/* kontakto  */
.kontakto{
  background-image:url('https://png.pngtree.com/thumb_back/fh260/background/20221205/pngtree-blue-medical-banner-healthcare-design-image_1487069.jpg') ;
  background-position: center;
  background-size: cover;
}

.kontakto .form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}



.kontakto.form .form-container{
  width: 50%;
  padding-right: 6rem;
}

.kontakto .form .form-container input, textarea{
  height: 4rem;
  width: 100%;
  background:rgb(249, 249, 249);
  border: none;
  border-radius: 5rem;
  padding: 0 1rem;
  margin: 1rem 0;
  color: aqua;
  font-size: 1.7rem;
}

.kontakto .form  .form-container input:focus , textarea:focus{ 
  border: .2rem dotted aqua;
}

.kontakto .form .form-container textarea{
  height: 20rem;
  border-radius: 1rem;
  padding: 1rem;
  resize: none;
}

.kontakto .form .form-container input[type="submit"]{
  width: 17rem;
  background: aqua;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  position:relative;
}

.kontakto .form .form-container input[type="submit"]:hover{
  background:white;
  color: aqua;
  border: .2rem solid aqua;
  align-items: end;
}
/* kontakto*/


/* footer  */
.footer{
background:rgba(82, 144, 207, 0.7); ;
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 2rem 0;
}

.footer .box{
width: 30rem;
margin: 2rem;
text-align: center;
}

.footer .box:nth-child(1){
text-align: left;
}

/* logo  */

.footer .box .logo{
padding: 2rem 0;
font-size: 3rem;
color: white;
}

.footer .box .logo:hover{
color: aqua;
}

.footer .box .logo span{
color: aqua;
}

.footer .box p{
font-size: 1.5rem;
color: white;
}

.footer .box a{
color: white;
font-size: 2rem;
display: block;
padding: .2rem 0;
}

.footer .box a:hover{
text-decoration: underline;
}


.footer .credit{
width: 85%;
padding-top: 1rem;
font-size: 2rem;
color: aqua;
text-align: center;
border-top: .2rem aqua;
}

.footer .credit span{
color: white;
text-decoration: underline;
letter-spacing: .5rem;
}



/* footer section end  */
















/* media query  */

@media (max-width:768px){

  html{
      font-size: 55%;
  }

  header .fa-bars{
      display: block;
  }
  
  header .navbar{
      position: fixed;
      top: -100rem; left: 0;
      width: 100%;
      background: var(--wight);
      opacity: 0;
      display:table-column;
  }

  header .navbar ul{
      flex-flow: column;
      padding: 2rem 0;
  }

  header .navbar ul li{
      margin: 1rem 0;
      width: 100%;
      text-align: center;
  }

  header .navbar ul li a{
      font-size: 3rem;
      display: table-column;

  }

  header .nav-toggle{
      top: 5.5rem;
      opacity: 1;
  }

  /* home media query  */

  .home .row{
      flex-flow: column;
  }

  .home .row .content{
      text-align: center;
  }

  /* home images  */
  .home .row .images img{
      width: 100%;
  }

/* about media query  */
 .about .box-container .box{
  flex-flow: column;
  width: 90%;
 }

 .about .box-container .box:nth-child(even){
  flex-flow: column;
 }

 .about .box-container .box .images{
  width: 100%;
 }

 .about .box-container .box .content{
  width: 100%;
 }
 
 /* contact form  */
 .contact .row{
  flex-flow: column;
 }

 .contact .row .images img{
  height: 50vh;
  width: 90vw;
 }

 .contact .row .form-container{
  width: 90%;
  padding: 0;
 }
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
    
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }

  }

 @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
        flex: 100%;
    }
}