/*g section start  
.blog .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog .box-container .box{
  width: 35rem;
  margin: 2rem 1rem;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

/* blog images  
.blog .box-container .box img{
  width: 100%;
  object-fit: cover;
}

.blog .box-container .box .content{
  padding: 0 1.5rem;
}

.blog .box-container .box .content h2{
  font-size: 2rem;
  color: aqua;
}

.blog .box-container .box .content p{
  font-size: 1.3rem;
  color: aqua;
}*/

.card-deck {
    display: flex;
    justify-content: space-between; /* Siguron që kartat të shfaqen me hapësirë mes tyre */
  }
  .card {
    width: 30%; /* Kjo i bën kartat të shfaqen në një vijë horizontale dhe të kenë hapësirë të barabartë */
    text-align: justify;
  }
