.doctor{
    
    background-image: url('https://media.istockphoto.com/id/1189758168/photo/female-doctor-holding-stethoscope-on-black-background.jpg?s=612x612&w=0&k=20&c=o68VtK6uz9xdrKUhPCwuId5ZnLWEru5_Fjhn3rRXRqc=');
    background-position: center;
    background-size: cover;


}
.card-1{

border: 3px;
color: white;
font-size: medium;
margin-top: 100px;
margin: 50px;
padding: 50px;
margin-right: 700px;
}
